### Table 10

In [ ]:
# College
period_40 = (40-P_c.starting_age)*4 + 4
fer_c_a = mean(sum(fertility_sim_f_c[1:period_40,:], dims=1))
fer_c_17_19 = 0
fer_c_20_24 = mean(sum(fertility_sim_f_c[1:20,:], dims=1))/fer_c_a*100
fer_c_25_29 = mean(sum(fertility_sim_f_c[21:40,:], dims=1))/fer_c_a*100
fer_c_30_34 = mean(sum(fertility_sim_f_c[41:60,:], dims=1))/fer_c_a*100
fer_c_35_40 = mean(sum(fertility_sim_f_c[61:84,:], dims=1))/fer_c_a*100

# Non_college
period_40 = (40-P_nonc.starting_age)*4 + 4
fer_nonc_a = mean(sum(fertility_sim_f_nonc[1:period_40,:], dims=1))
fer_nonc_17_19 = mean(sum(fertility_sim_f_nonc[1:12,:], dims=1))/fer_nonc_a*100
fer_nonc_20_24 = mean(sum(fertility_sim_f_nonc[13:32,:], dims=1))/fer_nonc_a*100
fer_nonc_25_29 = mean(sum(fertility_sim_f_nonc[33:52,:], dims=1))/fer_nonc_a*100
fer_nonc_30_34 = mean(sum(fertility_sim_f_nonc[53:72,:], dims=1))/fer_nonc_a*100
fer_nonc_35_40 = mean(sum(fertility_sim_f_nonc[73:96,:], dims=1))/fer_nonc_a*100

df_10 = DataFrame(Item = ["Average fertility","17-19","20-24","25-29","30-34","35-40"], Non_college = round.([fer_nonc_a,fer_nonc_17_19,fer_nonc_20_24,fer_nonc_25_29,fer_nonc_30_34,fer_nonc_35_40],digits=2), College=round.([fer_c_a,fer_c_17_19,fer_c_20_24,fer_c_25_29,fer_c_30_34,fer_c_35_40],digits=2))

### Table 14

In [1]:
period_40 = (40-P_nonc.starting_age)*4+1
year_convert= period_40
#non-College
e1_nonc = mean(sum(working_hours_sim_m_nonc[1:period_40,:]; dims=1))/year_convert #mean cumulative working hours up to age 40
e2_nonc = mean(sum(working_hours_sim_f_nonc[1:period_40,:]; dims=1))/year_convert
e3_nonc = e1_nonc/e2_nonc
#College
period_40 = (40-P_c.starting_age)*4+1
e1_c = mean(sum(working_hours_sim_m_c[1:period_40,:]; dims=1))/year_convert
e2_c = mean(sum(working_hours_sim_f_c[1:period_40,:]; dims=1))/year_convert
e3_c = e1_c/e2_c
tab = [e1_nonc e1_c;
        e2_nonc e2_c;
        e3_nonc e3_c]
disp = ["non-College" "College"; tab]
dips = [["";"Males";"Females";"Males/Females"] disp ]

UndefVarError: UndefVarError: P_nonc not defined

### Table 15

In [ ]:
using DataFrames
group = ["c", "nonc"]
sexes = ["m", "f"]
for g in group
    for s in sexes
        Line1 = Meta.parse("income_40 = income_sim_$(s)_$(g)[4*(40 - P_$(g).starting_age)+1,:]")
        eval(Line1)
        if g == "c" 
            Line2 = Meta.parse("income_starting = income_sim_$(s)_$(g)[13,:]") # from age 23
        else 
            Line2 = Meta.parse("income_starting = income_sim_$(s)_$(g)[1,:]") # from age 17
        end
        eval(Line2)
        Line3 = Meta.parse("$(s)_$(g) = income_40./income_starting")
        eval(Line3)
        Line4 = Meta.parse("$(s)_$(g)_a = mean($(s)_$(g))")
        eval(Line4)
        Line5 = Meta.parse("$(s)_$(g)_t = mean($(s)_$(g)[$(s)_$(g).>median($(s)_$(g))])")
        eval(Line5)
        Line6 = Meta.parse("$(s)_$(g)_b = mean($(s)_$(g)[$(s)_$(g).<median($(s)_$(g))])")
        eval(Line6)
    end
end
df_15 = DataFrame(Wage_growth = ["Average","Top 50%","Bottom 50%"], m_nonc = round.([m_nonc_a,m_nonc_t,m_nonc_b],digits=2), f_nonc = round.([f_nonc_a,f_nonc_t,f_nonc_b], digits=2), m_c=round.([m_c_a,m_c_t,m_c_b],digits=2), f_c=round.([f_c_a,f_c_t,f_c_b],digits=2))

### Table 16

In [ ]:
# before running table 16, you should run table 15
# College
income_nonchild_c = income_sim_f_c[:, child_sim_f_c[4*(40-P_c.starting_age)+1,:].==0]
f_nonchild_c = income_nonchild_c[4*(40-P_c.starting_age)+1, :]./income_nonchild_c[13, :]

wage_gap_c = (mean(m_c) - mean(f_c))/mean(m_c)
wage_gap_c_h = (mean(m_c) - mean(f_nonchild_c))/mean(m_c)
wage_gap_c_child = wage_gap_c - wage_gap_c_h
rate_c = round(wage_gap_c_child/wage_gap_c*100, digits=2)

# Non_college
income_nonchild_nonc = income_sim_f_nonc[:, child_sim_f_nonc[4*(40-P_nonc.starting_age)+1,:].==0]
f_nonchild_nonc = income_nonchild_nonc[4*(40-P_nonc.starting_age)+1, :]./income_nonchild_nonc[1, :]

wage_gap_nonc = (mean(m_nonc) - mean(f_nonc))/mean(m_nonc)
wage_gap_nonc_h = (mean(m_nonc) - mean(f_nonchild_nonc))/mean(m_nonc)
wage_gap_nonc_child = wage_gap_nonc - wage_gap_nonc_h
rate_nonc = round(wage_gap_nonc_child/wage_gap_nonc*100, digits=2)

df_16 = DataFrame(Economy = ["Benchmark","Only children","Only hours"], Non_college = round.([wage_gap_nonc,wage_gap_nonc_child,wage_gap_nonc_h],digits=2), Rate_nonc=[rate_nonc,rate_nonc,rate_nonc], College=round.([wage_gap_c,wage_gap_c_child,wage_gap_c_h],digits=2), Rate_c =[rate_c,rate_c,rate_c])

### Table 17

In [ ]:
f_nonc_black_a = mean(income_sim_f_nonc_black[4*(40-P_nonc_black.starting_age)+1,:]./income_sim_f_nonc_black[1,:])
black_ratio = f_nonc_black_a/f_nonc_a
df_17 = DataFrame(Item = ["Black non-college", "All non-college", "Ration"], Model = round.([f_nonc_black_a, f_nonc_a, black_ratio], digits=2))

### Table 20

In [ ]:
# weird, so cancel

### Table 21

In [ ]:
# weird, so cancel